[submodule "hardware/ControlsLeader_PCB/KiCAD-Sharepoint"]
	path = hardware/ControlsLeader_PCB/KiCAD-Sharepoint
	url = https://github.com/lhr-solar/KiCAD-Sharepoint.git
[submodule "firmware/Embedded-Sharepoint"]
	path = firmware/Embedded-Sharepoint
	url = https://github.com/lhr-solar/Embedded-Sharepoint.git
[submodule "Hardware/KiCAD-Sharepoint"]
	path = Hardware/KiCAD-Sharepoint
	url = https://github.com/lhr-solar/KiCAD-Sharepoint
